@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form-control label {
  color: #888;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-control input:focus {
  outline: 0;
  border-color: #888;
}

.form-control.success input {
  border-color: green;
}

.form-control.error input {
  border-color: #f04c39;
}

.form-control .message {
  color: #f04c39;
  visibility: hidden;
  font-size: 12px;
  margin-bottom: 5px;
}

.form-control.error .message {
  visibility: visible;
}

.form button {
  width: 90%;
  cursor: pointer;
  background-color: #3b94ed;
  border: 2px solid #3b94ed;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;
}
.form button:hover {
  background-color: #3180f7;
}
.form button:active {
  transform: scale(0.99);
}
